<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589088212389-tjbcb9dh2um16v95om8q272kr5oqtedr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589088212389-tjbcb9dh2um16v95om8q272kr5oqtedr</string>
	<key>API_KEY</key>
	<string>AIzaSyDJqRW4RUaZtEUbxtdLTdCHCswybdAdvyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>589088212389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>williamspell.restaurantFlutter</string>
	<key>PROJECT_ID</key>
	<string>todo-authentication-react</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-authentication-react.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:589088212389:ios:0faa226d74afceb07ed44c</string>
</dict>
</plist>
